<div class="login-page">
<div class="container">
<div class="land-login">
<!-- login form -->
<div class="login-area">
  <div class="logn-form">
    <!-- username -->
    <div class="username">
      <mat-form-field>
        <mat-label>user name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
<!-- password -->
    <div class="password">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
</div>
</div>
</div>
